.kommuneCard {
  width: 265px;
  height: 150px;
}

.kommuneCard:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: box-shadow 0.2s ease-in-out;
}

.kommuneCardRating {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  right: 16px;
  top: 22px;
}

.averageRating {
  color: darkgray;
  font-size: x-small;
  padding-bottom: 3px;
}
