.search {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchIcon {
  max-width: 15px;
}

/* search */
.mantine-16u1lte,
.mantine-i0taq {
  background-color: #405a7e;
  border: 1px solid black;
  color: #f3f9fc;
}

.mantine-1pwvbwf:hover {
  background-color: #405a7e;
}
